<footer>
  <div class="inner">
  <a href="#" class="top">
    ↑
  </a>
  <span class="copy">
      &copy {{date format="YYYY"}} Pretty Stuff, all images used here belong to their owners.
  </span>
  </div>
</footer>
