<header>
  <div class="inner">
    <div class="logo">
      <a href="/">Pretty Stuff</a>
    </div>
    <div class="menu">
      <a href="/about">About</a>
      <a href="/suggest">Suggest</a>
      <a href="/social">Social</a>
      <a href="/rss">RSS</a>
    </div>
  </div>
</header>  

{{!-- <button class="menu-toggle"><span></span></button> --}}
