<header>
  <div class="inner">
    <div class="menu">
      <a class="logo" href="/"><img src="{{asset "images/pretty-stuff-logo.svg"}}" alt=""></a>
      <div class="desc">The best inspiration, curated.</div>
      <div class="col-menu">
        <a href="/about">About</a>
        <a href="/suggest">Suggest</a>
      </div>
    </div>
  </div>
</header>
