<header>
  <div class="inner">
    <div class="logo">
      <a href="/"><img src="{{asset "images/pretty-stuff-logo.svg"}}" alt=""></a>
    </div>
    <div class="menu">
      <div class="col">
        <a href="/about">About</a>
        <a href="/suggest">Suggest</a>
      </div>
      <div class="col social">
        <a href="http://twitter.com/prettystuffio">Twitter</a>
        <a href="http://facebook.com/prettystuffio">Facebook</a>
      </div>
    </div>
  </div>
</header>
