<header>
  <div class="inner">
    <div class="menu">
      <div class="col-menu">
        <a href="/about">About us</a>
      </div>
    <div class="logo">
      <a href="/"><img src="{{asset "images/pretty-stuff-logo.svg"}}" alt=""></a>
    </div>
      <div class="col-menu-right">
        <a href="/suggest">Suggest something</a>
      </div>
    </div>
  </div>
</header>
