<aside class="sidebar">
    <div class="inner">
        <div class="logo">
            <a href="/">P</span>
        </div>
        <div class="menu">
            <a href="/about">About</a>
            <a href="/suggest">Suggest</a>
            <a href="/social">Social</a>
            <a href="/rss">RSS</a>
        </div>
    </div>
</aside>