<footer>
  <div class="inner">
  <a href="#" class="top">
    Back to the top
  </a>
  <span class="copy">
      &copy {{date format="YYYY"}} Pretty Stuff, all images used here belong to their owners.
  </span>
  <a href="http://twitter.com/prettystuffio">Twitter</a>
  <a href="http://facebook.com/prettystuffio">Facebook</a>
  </div>
</footer>
